@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Kaushan+Script&display=swap');

.voltar{
    background: linear-gradient(to bottom, #660fc8, navy);
    color: white;
    border-radius: 30px;
    width: 30%;
    border: none;
    outline: none;
    padding: 8px 0 8px 30px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Iceland', cursive;
  }