<div class="container">
    <div class="buttonForm">
        <div class="btnColor"></div>
        <button id="btnSingin">Login</button>
        <button id="btnSingup">Cadastro</button>
    </div>
        <form id="singin">
            <input type="email" nome="email" placeholder="Digite seu E-mail" required>
            <i class="fas fa-envelope iEmail"></i>
            <input type="password" nome="senha" placeholder="Digite sua Senha"required>
            <i class="fas fa-lock iPassword"></i>
            <input type="password" nome="senha-conf" placeholder="Confirme sua Senha"required>
            <i class="fas fa-lock iPassword"></i>
            <div class="divCheck">
                <input type="checkbox">
                <span>Termos</span>
            </div>
            <button type="submit">Criar Cadastro</button>
        </form>

</div>
