
    <Section>
        <div>
            <div class="logo">
                <img src="../../../IMG/logo.jpg" alt="Imagem de logo">
            <h1>login</h1>
            </div>
            <form>
                <input type="email" nome="email" placeholder="Digite seu E-mail">
                <input type="password" nome="email" placeholder="Digite seu E-mail">
                <input type="submit" nome="email" placeholder="Digite seu E-mail">

            </form>
        </div>
    </Section>
    