main{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  background: #1b1f27;
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, rgb(200, 197, 224),rgb(102, 168, 212));
  color: lightblue;
  }
section{
  background-color: skyblue; ;
  max-width: 200px;
  align-items: center;
  align-content: center;
  left: 20px;
  box-sizing: border-box;
  box-shadow: black 2px;
  position: relative;
  justify-content: center;
  display: flex;
  background-color: rgb(14, 13, 13);
  }
  h1 {
  font-size-adjust: none;
  text-align: center;
  top: 150px;
  color: rebeccapurple;
  font-size: 48pt;
  }
  h2 {
  font-size-adjust: none;
  text-align: center;
  top: 150px;
  color: rebeccapurple;
  font-size: 24pt;
  }
  h3 {
  font-size-adjust: none;
  text-align: center;
  top: 150px;
  color: rebeccapurple;
  font-size: 20pt;
  }